name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    - name: Set up Python
      uses: actions/setup-python@v5.3.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Setup uv and Handle Its Cache
      # You may pin to the exact commit or the version.
      # uses: hynek/setup-cached-uv@757bedc3f972eb7227a1aa657651f15a8527c817
      uses: hynek/setup-cached-uv@v2.3.0          
    - name: Build 
      run: |
        uv build --wheel
    - name: Publish to Pypi
      uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        password: ${{ secrets.PYPI_APIKEY }}
    # - name: Send Bluesky Post
    #   uses: myConsciousness/bluesky-post@v5
    #   with:
    #     text: |
    #       I've released a new version of wavinfo, my module for 
    #       reading WAVE metadata.
    #     link-preview-url: ${{ github.server_url }}/${{ github.repository }}
    #     identifier: ${{ secrets.BLUESKY_APP_USER }}  
    #     password: ${{ secrets.BLUESKY_APP_PASSWORD }}
    #     service: bsky.social    
    #     retry-count: 1
