name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    - name: Set up Python
      uses: actions/setup-python@v5.3.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools build wheel twine lxml
    - name: Build 
        python -m build .
    - name: Publish to Pypi
      uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        password: ${{ secrets.PYPI_APIKEY }}
    - name: Send Bluesky Post
      uses: myConsciousness/bluesky-post@v5
      with:
        text: |
          I've released a new version of wavinfo, my module for 
          reading WAVE metadata.
        link-preview-url: ${{ github.server_url }}/${{ github.repository }}
        identifier: ${{ secrets.BLUESKY_APP_USER }}  
        password: ${{ secrets.BLUESKY_APP_PASSWORD }}
        service: bsky.social    
        retry-count: 1
